# Code owners for the OmegaT project

# Message catalogs
Bundle*.properties    @kazephil @brandelune @kosivantsov

# User Documents and UI contents
/src_docs/manual/    @kazephil @brandelune @kosivantsov
/src_docs/greeting/  @kazephil @brandelune @kosivantsov
/src_docs/tips/      @kazephil @brandelune @kosivantsov @miurahr
readme*.txt          @kazephil @brandelune @kosivantsov

# Document styles
/src_docs/xsl/       @kazephil @brandelune @kosivantsov
/src_docs/style/     @kazephil @brandelune @kosivantsov
/src_docs/template/  @kazephil @brandelune @kosivantsov

# Developer documentation
/src_docs/developer/ @miurahr @brandelune 
OmegaT-license.txt   @kazephil @brandelune @kosivantsov @miurahr

# Build system and CI/CD
build.gradle @miurahr
settings.gradle @miurahr
/build-logic/ @miurahr
/gradle/ @miurahr
/config/ @miurahr
/.github @miurahr
/ci/ @miurahr
/release/ @miurahr
.readthedocs.yaml @miurahr
azure-pipelines.yml @miurahr
compose.yml @miurahr
Plugins.properties @miurahr

# Modules
/aligner @miurahr
/firssttime-wizard @miurahr
/language-modules @miurahr
/machinetranslators @miurahr
/spellchecker @miurahr
/connectors @miurahr
/scripting @miurahr
/theme @miurahr
/tipoftheday @miurahr

# Tests
/test @miurahr
/test-acceptance @miurahr
/test-integration @miurahr

# Scripts
/scripts @kosivantsov
