# Code owners for the OmegaT project

# Message catalogs
Bundle*.properties    @kazephil @brandelune @kosivantsov

# Documents
/src_docs/manual/    @kazephil @brandelune @kosivantsov
/src_docs/developer/   @brandelune @miurahr

# UI contents
/src_docs/greeting/     @kazephil @brandelune @kosivantsov
/tipoftheday/src/main/resources/     @kazephil @brandelune @kosivantsov @miurahr

# Build system and CI/CD
build.gradle @miurahr
/build-logic/ @miurahr
/gradle/ @miurahr
/config/ @miurahr
/ci/ @miurahr

# Document styles
/src_docs/xsl/     @kazephil @brandelune @kosivantsov
/src_docs/style/     @kazephil @brandelune @kosivantsov
/src_docs/template/     @kazephil @brandelune @kosivantsov
/src/org/omegat/Bundle*.properties    @kazephil @brandelune @kosivantsov

# CLI
/src/org/omegat/cli/Parameters*.properties    @kazephil @brandelune @kosivantsov
