version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "quarterly"
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: "quarterly"
    open-pull-requests-limit: 20
