build

# Gradle
.gradle
.settings
.project
.classpath
bin
.nb-gradle
local.properties

.idea
.fleet
.run
out
.venv

# Docs
.fop
docs/
doc_src/*/index.xml
doc_src/*/xhtml5
src_docs/site

# emacs backup files
*~

# MacOS system file
.DS_Store
