Aaron Madlon-Kay <aaron@madlon-kay.com> <allura@localhost>
Alex Buloichik <alex73mail@gmail.com>
Hiroshi Miura <miurahr@linux.com>
Jean-Christophe Helary <jean.christophe.helary@traduction-libre.org> <suzume@mabinogion.local>
Kos Ivantsov <kos@truetranslation.org>
Didier Briel <d.briel@free.fr>
Briac Pilpre <briacp@gmail.com>
Martin Fleurke <martin.fleurke@portavita.nl>
Maxym Mykhalchuk <mihmax@gmail.com>
