Hiroshi Miura <miurahr@linux.com>
Jean-Christophe Helary <jean.christophe.helary@traductaire-libre.org> <jean.christophe.helary@traductaire-libre.org>
Briac Pilpré <briacp@gmail.com>
kazephil <kazephil@gmail.com>
Thomas CORDONNIER <t_cordonnier@yahoo.fr> <36186159+t-cordonnier@users.noreply.github.com>
Thomas CORDONNIER <t_cordonnier@yahoo.fr> <Thomas.Cordonnier@ext.ec.europa.eu>
Thomas CORDONNIER <t_cordonnier@yahoo.fr> <Thomas.CORDONNIER@ext.ec.europa.eu>
Damien Rembert <damien.rembert@gmail.com>
Kos Ivantsov <kos@truetranslation.org>
