trigger:
  branches:
    include:
      - master
      - releases/*
      - refs/tags/v*
    exclude:
      - release/*
      - standard

pr:
  branches:
    include:
      - master
      - releases/*
    exclude:
      - standard
  paths:
    exclude:
      - docs
      - doc_src
      - docs_devel
      - README.md

variables:
  GRADLE_USER_HOME: '$(Pipeline.Workspace)/.gradle'
  isRelease: $[contains(variables['Build.SourceBranch'], 'refs/tags/v')]
  isReleasesBranch: $[contains(variables['Build.SourceBranch'], 'refs/heads/releases/')]
  isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/master')]

stages:
- stage: TestAndDocCI
  condition: and(ne(variables['Build.Reason'], 'Schedule'), ne(variables['Build.Reason'], 'Manual'), ne(variables['isRelease'], true))
  jobs:
  - job: testOnLinux
    displayName: on Linux
    pool:
      vmImage: 'ubuntu-24.04'
    steps:
      - checkout: self
        fetchDepth: 1
        fetchTags: false
      - template: ci/azure-pipelines/test_steps.yml
  - job: testOnWindows
    displayName: on Windows
    pool:
      vmImage: 'windows-latest'
    steps:
      - checkout: self
        fetchDepth: 2
      - template: ci/azure-pipelines/test_steps.yml
  - job: testOnMac
    displayName: on mac
    pool:
      vmImage: 'macOS-latest'
    steps:
      - checkout: self
        fetchDepth: 1
        fetchTags: false
      - template: ci/azure-pipelines/test_steps.yml

  # Weekly release steps will be triggered after integration-test succeeded.
- stage: Weekly
  condition: eq(variables['Build.Reason'], 'Manual')
  jobs:
  - job: CheckForWeekly
    displayName: Test and Check
    pool:
      vmImage: 'ubuntu-24.04'
    steps:
      - template: ci/azure-pipelines/check_steps.yml
  - job: WeeklyBuild
    displayName: Build for master weekly
    dependsOn:
      - CheckForWeekly
    pool:
      vmImage: 'ubuntu-24.04'
    steps:
      - checkout: self
        fetchDepth: 1
        fetchTags: false
      - script: |   
          version=$(./gradlew -qq printVersion | head -n 1)
          echo "##vso[task.setvariable variable=version;isOutput=true]$version"
        name: setVersion
      - template: ci/azure-pipelines/build_steps.yml
      - task: PublishPipelineArtifact@1
        displayName: 'Publish distributions artifact'
        inputs:
          targetPath: '$(System.DefaultWorkingDirectory)/build/distributions'
          artifact: 'distributions'

  - job: WeeklyPublish
    dependsOn: WeeklyBuild
    variables:
      omegatVersion: $[ dependencies.WeeklyBuild.outputs['setVersion.version'] ]
    steps:
      - script: |
          echo "Release version: $OMEGATVERSION"
          mkdir -p $(Pipeline.Workspace)/build
      - task: DownloadPipelineArtifact@2
        displayName: 'Download distributions artifact'
        inputs:
          artifact: 'distributions'
          path: '$(Pipeline.Workspace)/build/distributions'
      - template: ci/azure-pipelines/publish_weekly.yml
        parameters:
          omegatVersion: $(omegatVersion)

  # Release steps will run on the main and/or release branch with tags.
- stage: Release
  condition: and(succeeded(), eq(variables.isRelease, true))
  jobs:
  - job: CheckForRelease
    displayName: Test and Check
    pool:
      vmImage: 'ubuntu-24.04'
    steps:
      - checkout: self
        fetchDepth: 2
      - template: ci/azure-pipelines/check_steps.yml
  - job: ReleaseBuild
    dependsOn: CheckForRelease
    pool:
      vmImage: 'ubuntu-24.04'
    steps:
      - checkout: self
        fetchDepth: 0
        fetchTags: true
      - script: |
          version=$(./gradlew -qq printVersion | head -n 1)
          echo "##vso[task.setvariable variable=version;isOutput=true]$version"
        name: setVersion
      - template: ci/azure-pipelines/build_steps.yml
      - task: PublishPipelineArtifact@1
        displayName: 'Publish distributions artifact'
        inputs:
          targetPath: '$(System.DefaultWorkingDirectory)/build/distributions'
          artifact: 'distributions'

  - job: ReleasePublish
    dependsOn: ReleaseBuild
    variables:
      omegatVersion: $[ dependencies.ReleaseBuild.outputs['setVersion.version'] ]
    steps:
      - script: |
          echo "Release version: $OMEGATVERSION"
          mkdir -p $(Pipeline.Workspace)/build
      - task: DownloadPipelineArtifact@2
        displayName: 'Download distributions artifact'
        inputs:
          artifact: 'distributions'
          path: '$(Pipeline.Workspace)/build/distributions'
      - template: ci/azure-pipelines/publish_release.yml
        parameters:
          omegatVersion: $(omegatVersion)
