trigger:
  branches:
    include:
      - master
      - releases/*
      - refs/tags/v*
    exclude:
      - release/*
      - standard

pr:
  branches:
    include:
      - master
      - releases/*
    exclude:
      - standard

schedules:
  - cron: '0 12 * * 6'
    displayName: Weekly saturday build
    branches:
      include:
        - master
        - releases/*
    always: true

variables:
  GRADLE_USER_HOME: '$(Pipeline.Workspace)/.gradle'
  isRelease: $[contains(variables['Build.SourceBranch'], 'refs/tags/v')]
  isReleasesBranch: $[contains(variables['Build.SourceBranch'], 'refs/heads/releases/')]
  isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/master')]

stages:
- stage: TestAndDocCI
  condition: and(ne(variables['Build.Reason'], 'Schedule'), ne(variables['Build.Reason'], 'Manual'), ne(variables['isRelease'], true))
  jobs:
  - job: CheckChanges
    displayName: Check commit changes
    steps:
      - checkout: self
        clean: true
        fetchDepth: 10
        fetchTags: true
        lfs: false
      - bash: |
          if [[ "${{ variables['Build.SourceBranch'] }}" == "refs/heads/master" ]]; then
            # check latest commit
            files=$(git diff-tree --no-commit-id --name-only -r HEAD)
          else
            # pull-request changes
            git fetch origin master
            files=$(git diff-tree --no-commit-id --name-only -r origin/master..HEAD)
          fi
          doc_changed=false
          non_doc_changed=false
          for file in $files; do
            if [[ $file =~ ^src_docs || $file =~ ^tipoftheday/.*\.(html|yaml)$ ]]; then
              doc_changed=true
            elif [[ ! ($file =~ ^\. || $file =~ ^ci/ || $file =~ \.ya?ml$ ) ]]; then
              non_doc_changed=true
            fi
          done
          echo "##vso[task.setvariable variable=changeDoc;isOutput=true]$doc_changed"
          echo "##vso[task.setvariable variable=changeNonDoc;isOutput=true]$non_doc_changed"
        name: checkChanges
  - job: BuildDocument
    displayName: Build Document and Publish
    dependsOn: CheckChanges
    condition: eq(dependencies.CheckChanges.outputs['checkChanges.changeDoc'], 'true')
    pool:
      vmImage: 'ubuntu-24.04'
      steps:
      - checkout: self
        clean: true
        fetchDepth: 1
        fetchTags: true
        lfs: false
      - template: ci/azure-pipelines/build_doc_steps.yml
  - job: testOnLinux
    displayName: on Linux
    dependsOn: CheckChanges
    condition: eq(dependencies.CheckChanges.outputs['checkChanges.changeNonDoc'], 'true')
    pool:
      vmImage: 'ubuntu-24.04'
    steps:
      - checkout: self
        fetchDepth: 1
        fetchTags: false
      - template: ci/azure-pipelines/test_java17_steps.yml
  - job: testOnWindows
    displayName: on Windows
    dependsOn: CheckChanges
    condition: eq(dependencies.CheckChanges.outputs['checkChanges.changeNonDoc'], 'true')
    pool:
      vmImage: 'windows-latest'
    steps:
      - checkout: self
        fetchDepth: 2
      - template: ci/azure-pipelines/test_java17_steps.yml
  - job: testOnMac
    displayName: on mac
    dependsOn: CheckChanges
    condition: eq(dependencies.CheckChanges.outputs['checkChanges.changeNonDoc'], 'true')
    pool:
      vmImage: 'macOS-latest'
    steps:
      - checkout: self
        fetchDepth: 1
        fetchTags: false
      - template: ci/azure-pipelines/test_java17_steps.yml

  # Weekly release steps will be triggered after integration-test succeeded.
- stage: Weekly
  condition: or(eq(variables['Build.Reason'], 'Schedule'), eq(variables['Build.Reason'], 'Manual'))
  jobs:
  - job: CheckForWeekly
    displayName: Test and Check
    pool:
      vmImage: 'ubuntu-24.04'
    steps:
      - template: ci/azure-pipelines/check_steps.yml
  - job: IntegrationTestForWeekly
    displayName: Integration Test
    pool:
      vmImage: 'ubuntu-24.04'
    steps:
      - checkout: self
        fetchDepth: 1
        fetchTags: false
      - template: ci/azure-pipelines/integ_test_steps.yml
        parameters:
          testType: 'GIT'
          duration: 600
  - job: WeeklyBuild
    displayName: Build for master weekly
    dependsOn:
      - CheckForWeekly
      - IntegrationTestForWeekly
    pool:
      vmImage: 'ubuntu-24.04'
    steps:
      - checkout: self
        fetchDepth: 1
        fetchTags: false
      - script: |   
          version=$(./gradlew -qq printVersion | head -n 1)
          echo "##vso[task.setvariable variable=version;isOutput=true]$version"
        name: setVersion
      - template: ci/azure-pipelines/build_steps.yml
      - task: PublishPipelineArtifact@1
        displayName: 'Publish documents artifact'
        inputs:
          targetPath: '$(System.DefaultWorkingDirectory)/build/docs'
          artifact: 'docs'
      - task: PublishPipelineArtifact@1
        displayName: 'Publish distributions artifact'
        inputs:
          targetPath: '$(System.DefaultWorkingDirectory)/build/distributions'
          artifact: 'distributions'

  - job: WeeklyPublish
    dependsOn: WeeklyBuild
    variables:
      omegatVersion: $[ dependencies.WeeklyBuild.outputs['setVersion.version'] ]
    steps:
      - script: |
          echo "Release version: $OMEGATVERSION"
          mkdir -p $(Pipeline.Workspace)/build
      - task: DownloadPipelineArtifact@2
        displayName: 'Download distributions artifact'
        inputs:
          artifact: 'distributions'
          path: '$(Pipeline.Workspace)/build/distributions'
      - template: ci/azure-pipelines/publish_weekly.yml
        parameters:
          omegatVersion: $(omegatVersion)
      - task: DownloadPipelineArtifact@2
        displayName: 'Download docs artifact'
        inputs:
          artifact: 'docs'
          path: '$(Pipeline.Workspace)/build/docs'
      - template: ci/azure-pipelines/publish_manual_snapshot.yml
        parameters:
          omegatVersion: $(omegatVersion)

  # Release steps will run on the main and/or release branch with tags.
- stage: Release
  condition: and(succeeded(), eq(variables.isRelease, true))
  jobs:
  - job: CheckForRelease
    displayName: Test and Check
    pool:
      vmImage: 'ubuntu-24.04'
    steps:
      - checkout: self
        fetchDepth: 2
      - template: ci/azure-pipelines/check_steps.yml
  - job: ReleaseBuild
    dependsOn: CheckForRelease
    pool:
      vmImage: 'ubuntu-24.04'
    steps:
      - checkout: self
        fetchDepth: 0
        fetchTags: true
      - script: |
          version=$(./gradlew -qq printVersion | head -n 1)
          echo "##vso[task.setvariable variable=version;isOutput=true]$version"
        name: setVersion
      - template: ci/azure-pipelines/build_steps.yml
      - task: PublishPipelineArtifact@1
        displayName: 'Publish documents artifact'
        inputs:
          targetPath: '$(System.DefaultWorkingDirectory)/build/docs'
          artifact: 'docs'
      - task: PublishPipelineArtifact@1
        displayName: 'Publish distributions artifact'
        inputs:
          targetPath: '$(System.DefaultWorkingDirectory)/build/distributions'
          artifact: 'distributions'

  - job: ReleasePublish
    dependsOn: ReleaseBuild
    variables:
      omegatVersion: $[ dependencies.ReleaseBuild.outputs['setVersion.version'] ]
    steps:
      - script: |
          echo "Release version: $OMEGATVERSION"
          mkdir -p $(Pipeline.Workspace)/build
      - task: DownloadPipelineArtifact@2
        displayName: 'Download distributions artifact'
        inputs:
          artifact: 'distributions'
          path: '$(Pipeline.Workspace)/build/distributions'
      - template: ci/azure-pipelines/publish_release.yml
        parameters:
          omegatVersion: $(omegatVersion)
      - task: DownloadPipelineArtifact@2
        displayName: 'Download docs artifact'
        inputs:
          artifact: 'docs'
          path: '$(Pipeline.Workspace)/build/docs'
      - template: ci/azure-pipelines/publish_manual.yml
        parameters:
          omegatVersion: $(omegatVersion)
      - template: ci/azure-pipelines/publish_javadoc.yml
        parameters:
          omegatVersion: $(omegatVersion)
