body {
  font-family: Arial, Helvetica, sans-serif; 
  width: 500px;
  text-align: justify;
  margin: 15mm;
}

h1, h2, h3, h4, h5 {
  font-family: Arial, Helvetica, sans-serif; 
  width: 15cm;
  text-align: left;
  color: #3B3B3B;
}

p , ol , ul , dl {color: #3B3B3B;}


.definition {
  font-weight: bold;
}

var[class] { 
  border: 1px solid green;
}

img {max-width: 60mm}

*[class~="="] {
border: 1px solid orange;
margin: 1mm 0 1mm 0;
padding: 2mm;
border-radius: 3px;
/*border-top: 20px solid #fff6d5;*/
}

[class~="="]:before {
		content : attr(class);
		color: #d45500;
		display:block;
		font-size: 11px;
		border-bottom: 1px solid #D0D0D0;
	    	padding: 2px;
		margin:0;
}

tr[class~="="] td{
border: 2px solid purple;
}


