<html>
<head>
   <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
   <title>OmegaT User Manual</title>
   <style type="text/css">
      .up-to-date { color: green; font-weight: bold; }
      .out-of-date { color: red; }
   </style>
</head>
<body dir="ltr">

<h1>OmegaT User Manual</h1>

<table width="20%">
<% languages.each { lang -> %>
    <tr>
        <td>
            <p><a href="${lang.code}/index.html">${lang.name}</a></p>
        </td>
        <td>(<span class="${lang.status}">${lang.version}</span>)</td>
        <td><a target="blank" href="https://sourceforge.net/projects/omegat/files/OmegaT%20-%20Standard/OmegaT%20${lang.version}/OmegaT_documentation_${lang.code}.PDF/download">PDF</a></td>
    </tr>
<% } %>
</table>

</body>
</html>
