#wh-content {
    font-family: sans-serif;
/*    font-size: 10pt; */
    background-color: #FDFDFD;
    line-height: 1.5;
    color:#212925;
    text-align:justify;
    clip-path: padding-box;

}


#wh-content div.toc,
#wh-content header,
#wh-content footer
{
    display:none;
}


.chapter,
.appendix {
    margin-left:3em;
    margin-right:10em;
    padding-bottom: 5em;

}


@media screen and (max-width: 640px) {
.chapter,
.appendix {
    margin-left:1em;
    margin-right:2em;
    padding-bottom: 5em;
}
}

@media screen and (min-width: 641px) and (max-width: 1072px) {
.chapter,
.appendix {
    margin-left:1em;
    margin-right:3em;
    padding-bottom: 5em;
}
}
h1, h2, h3, h4, dt {
    color: #006c6c;
}

h1 {
    /*
    position:fixed;
    margin-top: 150px;
    width:100%;
    background-color:#FDFDFD;

    */

    line-height: 1.13;
    margin-top : 0;
    padding-bottom: .3em;
    margin-bottom: 0;
    padding-left:3em;
    border-bottom:1px solid teal;
    margin-left:-3em;
    margin-right:0em;
}


@media screen and (max-width: 640px) {
h1 {
    padding-left:1em;
    margin-left:-1em;
    margin-right:-1rem;

}
}



h2 {
    font-size:1.35em;
    line-height: 1.2;
    margin: 0.8em 0;
    padding-top: 1em;
    border-bottom: 1px solid lightgray;
}

h3 {
    font-size:1.17em;
    line-height: 1.28;
    margin: 0.85em 0
}

h4 {
    font-size:1.08em;
    line-height: 1.39;
    margin: 0.92em 0;
    font-style:italic;
    margin-top:1.5rem;
    margin-bottom:.2rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}



.keycap {
    display:inline-block;
    font-size: .6rem;
    border: 1px solid black;
    border-radius:4px;
    background: #ececec;
    padding-left:.15rem;
    padding-right:.15rem;
    padding-top:.1rem;
    margin-right:.1rem;
    white-space:nowrap;
}


/*
code, .code {
    color: black;;
    background: #ffffcc;
    border-style: solid;
    border-width: 1px;
    border-color: #ffff66;
    vertical-align: baseline;
}
*/
p,
pre,
ol,
dl,
ul,
table,
hr {
    margin: 1em 0;
}

hr {
    height: 1px;
    border-style: none;
    background-color: #D0D0D0;
}

blockquote {
    margin: 2em 4em;
}

code.filename {
    color: #333;
    font-weight:800;
/*    font-size:1.1em; */
}

.programlisting,
.literallayout {
    border: 1px solid teal ;
    background: #F0F0F0;
    padding: 1em;
    font-weight: bold;
    border-radius: 5px;
}

.literal {
    font-weight: bold;
}



code,
tt,
kbd,
samp,
var,
pre {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
/*    font-size: 1.1em;
    line-height: 1.63; */
}

kbd {
    font-weight: bold;
    border: 1px solid #808080;
    border-radius: 3px;
    padding: 0.125em 0.25em;
}

samp {
    background-color: #F0F0F0;
    padding: 0.125em 0.25em;
}

var {
    font-style: italic;
}

abbr {
    font-weight: bold;
    text-decoration: none;
}

cite {
    font-style: italic;
}

dfn {
    font-style: italic;
    border-bottom: 1px dotted #808080;
}

pre {
    white-space: pre;
    background-color: #F0F0F0;
    border: 1px dotted #D0D0D0;
    padding: 0.5em;
    margin: 1.1em 0; /* 1/0.917 */
}

ul {
    list-style-type: disc;
}

ul ul {
    list-style-type: square;
}

ul ul ul {
    list-style-type: circle;
}

ul ul ul ul {
    list-style-type: disc;
}

ul ul ul ul ul {
    list-style-type: square;
}

ul ul ul ul ul ul {
    list-style-type: circle;
}

ul ul ul ul ul ul ul {
    list-style-type: disc;
}

ol > li {
    list-style-image: none;
}

li {
    margin: 1em 0;
}

*[compact] > li,
.xmcompact > li {
    margin-top: 0;
    margin-bottom: 0;
}

dt {
    margin-top: 1em;
    margin-bottom: 0;
}

dt + dt {
    margin-top: 0;
}

dd {
    margin-top: 0;
    margin-bottom: 1em;
}

*[compact] > dt,
.xmcompact > dt {
    margin-top: 0;
}

*[compact] > dd,
.xmcompact > dd {
    margin-bottom: 0;
}




.new {
    font-size: x-small;
    color: red;
    background: yellow;
}

.updated {
    font-size: x-small;
    color: orange;
}

.note {
/*    font-size: small; */
	font-size: 0.9em;
    color: black;
    background-color: white;
    border: 1px solid #808080;
    border-radius:5px;
    margin-bottom:1em;
    padding:0 1em;
}
.note h3 {
    display:inline-block;
    margin:.5em 0 0 0;
}

.warning {
/*    font-size: small; */
	font-size: 0.9em;
    color: black;
    background: white;
    border: 1px solid #FFA0A0;
    border-radius:5px;
    margin-bottom:1em;
    padding:0 1em;

}

.warning h3 {
    display:inline-block;
    margin:.5em 0 0 0;
    color:red;
}

.guimenu {
    background-color:#F0F0F0;
    padding:0 .5em;
    font-family:monospace;
    font-weight:bold;

}

/* links */

a {
    text-decoration:none;
}
a:link {
    color:teal;
}
a:visited{
    color:slategrey;
}
a.ulink:link {
    color:steelblue;
}
a.ulink:visited {
    color:midnightblue;
}
a:hover {
    text-decoration:underline;
}


/* tables */

.table-title {
    font-style:italic;
    color: teal;
    font-size : .9em;
    margin-bottom: .75em;
}

td,th {
    padding: .5em 1em;
}

/* figures */

.figure-title {
    font-style:italic;
    color: teal;
    font-size : .9em;
    margin-bottom: .75em;
}

.figure-contents img {
    max-width: 100%;
    height: auto;

}

/* examples */

.example-title {
    font-style:italic;
    color: teal;
    font-size : .9em;
    margin-bottom: .75em;
}

.example-contents {
    border-style: solid;
    border-width: 1px;
    border-radius:3px;
    padding: 2px 1em;
    vertical-align: baseline;
}

/* code */
pre.programlisting em.parameter {
    white-space:nowrap;
    display:inline-block;
}

pre.programlisting {
    overflow-x : auto;
    text-align:left;
/*    padding: 1.2em 0.5em 0 1.5em; */
}


/* index page */
#wh-content .book  div.toc {
    display: block;

}

#wh-content .book .abstract-title,
#wh-content .book .list-of-figures,
#wh-content .book .list-of-tables,
#wh-content .book .toc-title {
    display:none;
}

#wh-content .book  h3.author {
    font-style:italic;
}
#wh-content .book  div.toc .toc-chapters,
#wh-content .book  div.toc .toc-appendices {
    display:flex;
    flex-wrap: wrap;
    padding:0;
    margin-bottom:20px;
}

#wh-content .book  div.toc .toc-panel {
    display:block;
    /*    height: 120px;*/

    position: relative;
    flex: 0 1 auto;

    width: 45%;

    border: 1px solid #D0D0D0;
    border-radius:3px;
    background:white;
    margin-right:3%;
    margin-top:30px;
    padding-bottom:20px;
}


#wh-content .book  div.toc h2 {
    font-size: 1.2em;
    color:teal;
    font-weight:bold;
    margin:.8rem 1rem 0 1rem;
}

#wh-content .book  div.toc .toc-panel ul {
    display:block;
    margin-top: 1rem;
    margin-right: 1em;
    padding-left: 1rem;
    text-align:left;
}
#wh-content .book  div.toc .toc-panel ul>li {
    display:inline;
}
#wh-content .book  div.toc .toc-panel li>span>a:after {
    content:", ";
}

#wh-content .book  div.toc .toc-panel li:last-of-type>span>a:after {
    content:".";
}


/* header */

#wh-header {
    border-bottom-width: 1px;
    border-bottom-color: #DDE1E4;
    border-bottom-style: solid;
    background-color:teal;
    color:white;
}

#wh-header .logo {
    display:inline-block;
    vertical-align: middle;
}

#wh-header .title {
    display:inline;
/*    font-size:18pt; */
	font-size:1.8em;
    font-family: sans-serif;
    font-weight:bold;
    vertical-align: middle;


}
#wh-header .title a {
    color:white;
    text-decoration:none;
}
