[Desktop Entry]
Comment=
Exec=/usr/local/bin/omegat
Icon=/opt/omegat/OmegaT-default/images/OmegaT.iconset/icon_128x128.png
Name=OmegaT
NoDisplay=false
Path[$e]=
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
