body {
	font-family: "serif";
	margin: 1em;
	}

.chapter {
	color: black;
	}

h1, h2, table, dt {
	color: navy;
	}
h3, h4, ul a {
	color: green;
	}
.navbar-top, .navbar-bottom {
	margin-top: 1em;
	margin-bottom: 1em;
	}