<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>topic_file</title>
  <meta name="topic_file" content="NomDuFichierHTML" />
  <link href="/kolekti/edition-stylesheets/topics.css" media="all"
  rel="stylesheet" type="text/css" />
</head>
<body>
<p class="index"><ins class="index">kkIndexNiv1:indexniv2</ins></p>
<h1>H1</h1>
<p class="definition">Définition</p>
<p>Remarque : utiliser pour une remarque.</p>
<p><img alt="image" src="/sources/fr/pictures/ecran.png" /></p>
<ul>
  <li>premi&#xe8;re ligne de la liste</li>
  <li>deuxi&#xe8;me ligne de la liste</li>
</ul>
<ol>
  <li>premi&#xe8;re instruction</li>
  <li>deuxi&#xe8;me instruction</li>
</ol>
<dl>
  <dt>kklibelle rubrique</dt>
    <dd>kkexplication.</dd>
    <dd>kkexplication suite.</dd>
</dl>
<div class="bloc">
<h2>kktitre d'un groupe de rubriques</h2>

<dl>
  <dt>kklibelle rubrique</dt>
    <dd>kkexplication.</dd>
    <dd>kkexplication suite.</dd>
</dl>

<dl>
  <dt><img alt="image" src="/sources/fr/pictures/bt_XX.png" />kklibelle rubrique</dt>
    <dd>kkexplication.</dd>
    <dd>kkexplication suite.</dd>
</dl>

</div>
<div class="attention">
<p>utiliser pour un attention.</p>
</div>
<div class="remarque">
<p>Remarque : utiliser pour une remarque.</p>
</div>
<div class="exemple">
<p>Ici un exemple.</p>
</div>
<div class="voiraussi">
<p>Voir aussi :</p>
<ul>
  <li><a
    href="/sources/fr/topics/mod_0kk_identifiant.xht">libelle ecran</a></li>
</ul>
<ul>
  <li><a
    href="/sources/fr/topics/CFP/mod_0kk_identifiant.xht">libelle ecran dans CFP</a></li>
</ul>
</div>
</body>
</html>
