site_name: OmegaT developer Documentaion
docs_dir: developer
markdown_extensions:
  - tables
  - def_list
  - footnotes
  - pymdownx.mark
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true

theme:
  name: material
  features:
  - navigation.tracking
  - navigation.top
  - navigation.sections
  - content.code.copy

# Enable Mermaid diagrams
extra_javascript:
  - https://unpkg.com/mermaid@9.4.3/dist/mermaid.min.js
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - stylesheets/extra.css

plugins:
  - search:
      lang: en
  - git-revision-date-localized:
      enable_creation_date: true

nav:
  - Home: index.md
  - First steps:
     About OmegaT: 00.AboutOmegaT.md
     Project Philosophy and policy: 01.PhilosophyAndPolicy.md
     How to contribute: 02.ContributingEcoSystem.md
     Guideline for welcoming beginners: 03.GuidelineForWelcomingBeginners.md
  - How to build and contribute OmegaT:
     Contributing to OmegaT development: 04.ContributingOmegaT.md
     How to build OmegaT: 08.HowToBuild.md
     Git workflow: 06.GitWorkFlows.md
     Coding styles: 30.CodingStyles.md
     Source tree: 36.SourceTree.md
     Versioning: 05.Versioning.md
     Manner of the Pull Request: 07.MannerOfThePullRequest.md
  - How to create plugin:
     How to make filter plugin: 11.HowToCreateFilterPlugin.md
     Setup your plugin project: 15.SetupPluginProject.md
     Loading Plugins: 17.LoadingPlugins.md
     Plugin manifest: 19.PluginManifest.md
     How to make Machine Translation connector plugin: 12.HowToMakeMTConnector.md
  - Understanding OmegaT Internals:
     OmegaT internals: 21.OmegaTInternals.md
     Core Events: 22.CoreEvents.md
     Core Methods: 23.CoreMethods.md
     Plugin Security: 24.PluginSecurity.md
     Code Generation: 25.CodeGeneration.md
     Caching: 26.Caching.md
     Utility functions: 27.UtilityClasses.md
  - Quality Assurance and tests:
     Test and coverage: 33.TestAndCoverage.md
     Integration test: 34.IntegrationTest.md
     Test a spcific features: 35.SpecificFeatureTests.md
  - Documentation:
     Contributing to Documentation: 40.ContributingDocument.md
  - Localization:
     Localize applications and manuals: 45.LocalizeApplicationAndManuals.md
  - Website:
     Authoring website: 47.WebsiteProject.md
  - Scripting:
     How to write an OmegaT script: 51.HowToWriteScript.md
  - Spellchecker dictionary:
     How to publish spell checker dictionary as plugin: 52.HowToSpellCheckDictionary.md
  - Details of features:
     Editor pane Key assigns:  80.EditorKeys.md
     External Finder: 81.ExternalFinder.md
     How OmegaT create Backup files: 82.BackupFiles.md
     Team project: 83.TeamProject.md
  - Architecture Design: adr/index.md
  - Other information:
     Release procedure: 90.ReleaseProcedure.md
     Code Signing How-to: 92.CodeSigning.md
     Building installer: 93.BuildingInstallerPackage.md
     Git repository analysis: 94.GitRepositoryAnalysis.md
     License and Terms: 95.LicenseAndTerms.md
     Appendix: 91.appendix.md
