steps:
  - task: Bash@3
    displayName: 'Download JRE'
    inputs:
      targetType: 'inline'
      script: |
        mkdir -p $(System.ArtifactsDirectory)/asset
        cd $(System.ArtifactsDirectory)/asset || exit 1
        jres=(
          https://github.com/adoptium/temurin11-binaries/releases/download/jdk-11.0.29%2B7/OpenJDK11U-jre_aarch64_mac_hotspot_11.0.29_7.tar.gz
          https://github.com/adoptium/temurin11-binaries/releases/download/jdk-11.0.29%2B7/OpenJDK11U-jre_arm_linux_hotspot_11.0.29_7.tar.gz
          https://github.com/adoptium/temurin11-binaries/releases/download/jdk-11.0.29%2B7/OpenJDK11U-jre_x64_linux_hotspot_11.0.29_7.tar.gz
          https://github.com/adoptium/temurin11-binaries/releases/download/jdk-11.0.29%2B7/OpenJDK11U-jre_x64_mac_hotspot_11.0.29_7.tar.gz
          https://github.com/adoptium/temurin11-binaries/releases/download/jdk-11.0.29%2B7/OpenJDK11U-jre_x64_windows_hotspot_11.0.29_7.zip
          https://github.com/adoptium/temurin11-binaries/releases/download/jdk-11.0.29%2B7/OpenJDK11U-jre_x86-32_windows_hotspot_11.0.29_7.zip
        )
        for url in "${jres[@]}"; do
          curl -L -O "$url"
        done
  - task: Cache@2
    displayName: 'Cache Gradle'
    inputs:
      key: 'gradle | "$(Agent.OS)" | **/build.gradle'
      restoreKeys: |
        gradle | "$(Agent.OS)"
        gradle
      path: '$(GRADLE_USER_HOME)'
  - script: |
      umask a+w
      chmod -R a+w doc_src
    displayName: 'Preparation for build'
  - task: Gradle@3
    inputs:
      tasks: 'clean sourceDistZip distZip mac linux win'
      options: '--build-cache -PenvIsCi -PassetDir=$(System.ArtifactsDirectory)/asset'
      jdkVersionOption: '1.11'
    displayName: 'Build distribution packages and docs'
