steps:
  - task: Cache@2
    displayName: 'Cache Gradle'
    inputs:
      key: 'gradle | $(Agent.OS) | $(Build.SourcesDirectory)/build.gradle'
      path: '$(GRADLE_USER_HOME)'
  - script: |
      umask a+w
      chmod -R a+w doc_src
    displayName: 'Prepare'
  - task: Gradle@3
    inputs:
      tasks: 'webManual'
      options: '-PenvIsCi'
      jdkVersionOption: '1.17'
    displayName: 'Run Gradle clean&webManual'
