steps:
  - task: Cache@2
    displayName: 'Cache Gradle'
    inputs:
      key: 'gradle | $(Agent.OS) | $(Build.SourcesDirectory)/build.gradle'
      path: '$(GRADLE_USER_HOME)'
  - script: |
      umask a+w
      mkdir -p build
      chmod -R a+w doc_src
      $(Build.SourcesDirectory)/gradlew --build-cache -PenvIsCi clean build
    displayName: 'Run Gradle clean and Gradle build'
  - task: PublishTestResults@2
    displayName: 'Publish Test Results build/reports/**/*.xml'
    inputs:
      testResultsFiles: 'build/reports/**/*.xml'
  - task: CopyFiles@2
    displayName: 'Copy Files to: $(build.artifactstagingdirectory)'
    inputs:
      SourceFolder: '$(system.defaultworkingdirectory)/build/distributions'
      TargetFolder: '$(build.artifactstagingdirectory)'
  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: drop'
    inputs:
      PathtoPublish: '$(build.artifactstagingdirectory)'
