<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleIconFile</key>
	<string>OmegaT.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OmegaT</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>@VERSION_NUMBER_SUBST@</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<array>
			<string>$JAVAROOT/OmegaT.jar</string>
			<string>$JAVAROOT/lib/antlr-runtime-3.4.jar</string>
			<string>$JAVAROOT/lib/diff.jar</string>
			<string>$JAVAROOT/lib/htmlparser.jar</string>
			<string>$JAVAROOT/lib/jmyspell-core-1.0.0-beta-2.jar</string>
			<string>$JAVAROOT/lib/jna.jar</string>
			<string>$JAVAROOT/lib/jsch-0.1.49.jar</string>
			<string>$JAVAROOT/lib/lucene-analyzers-3.6.2.jar</string>
			<string>$JAVAROOT/lib/lucene-core-3.6.2.jar</string>
			<string>$JAVAROOT/lib/lucene-kuromoji-3.6.2.jar</string>
			<string>$JAVAROOT/lib/lucene-smartcn-3.6.2.jar</string>
			<string>$JAVAROOT/lib/MRJAdapter.jar</string>
			<string>$JAVAROOT/lib/org.eclipse.jgit-2.1.0.201209190230-r.jar</string>
			<string>$JAVAROOT/lib/orion-ssh2-214.jar</string>
			<string>$JAVAROOT/lib/sequence-library-1.0.2.jar</string>
			<string>$JAVAROOT/lib/sqljet-1.1.3.jar</string>
			<string>$JAVAROOT/lib/svnkit-1.7.5.jar</string>
			<string>$JAVAROOT/lib/swing-layout-1.0.jar</string>
			<string>$JAVAROOT/lib/swing-worker-1.2.jar</string>
			<string>$JAVAROOT/lib/tinysegmenter.jar</string>
			<string>$JAVAROOT/lib/vldocking_2.1.4.jar</string>
			<string>$JAVAROOT/lib/commons-lang-2.4.jar</string>
			<string>$JAVAROOT/lib/commons-logging-1.1.1.jar</string>
			<string>$JAVAROOT/lib/LanguageTool/jwordsplitter-3.4.jar</string>
			<string>$JAVAROOT/lib/LanguageTool/LanguageTool-data.jar</string>
			<string>$JAVAROOT/lib/LanguageTool/languagetool-core-2.1.jar</string>
			<string>$JAVAROOT/lib/LanguageTool/morfologik-fsa-1.5.4.jar</string>
			<string>$JAVAROOT/lib/LanguageTool/morfologik-speller-1.5.4.jar</string>
			<string>$JAVAROOT/lib/LanguageTool/morfologik-stemming-1.5.4.jar</string>
			<string>$JAVAROOT/lib/LanguageTool/cjftransform-1.0.1.jar</string>
			<string>$JAVAROOT/lib/LanguageTool/ictclas4j-1.0.1.jar</string>
			<string>$JAVAROOT/lib/LanguageTool/segment-1.4.1.jar</string>
			<string>$JAVAROOT/lib/pdfbox-app-1.8.1.jar</string>
			<string>$JAVAROOT/lib/bsf-2.4.0.jar</string>
			<string>$JAVAROOT/lib/groovy-all-1.8.9.jar</string>
			<string>$JAVAROOT/lib/js-rhino-1.7R4.jar</string>
			<string>$JAVAROOT/native/libhunspell-macos64.dylib</string>
			<string>$JAVAROOT/native/libhunspell-macos32.dylib</string>
		</array>
		<key>JVMVersion</key>
		<string>1.6+</string>
		<key>MainClass</key>
		<string>org.omegat.Main</string>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
            <key>apple.awt.graphics.UseQuartz</key>
            <string>true</string>
		</dict>
		<key>VMOptions</key>
		<string>-Xmx1024M</string>
	</dict>
</dict>
</plist>
