
@media only screen and (min-width: 980px)  {
  body {  
  padding-top: 60px;
  padding-bottom: 40px;
}
}

.navbar .brand 
{
  color:white;
  text-shadow: 0 0 0 white;
  }

div[data-section-content]
{ 
  display:none;
 }

div[data-section-content].active 
{ 
  display:block;
 }

.sidebar .well 
{ 
  padding: 0;

 }

.sidebar .well h5 
{ 
    background-color: #269cda;
    border-radius: 4px 4px 0 0;
    color: white;
    margin-top: 0;
    padding: 5px 17px;
 }

.sidebar .well#search_results h5 
{ 
  padding-left: 4px;
  padding-right: 4px;
 }

.nav-list li {
    line-height: 17px;
}

.nav-list > li > a
{
    padding-left: 2px;
}

.nav-list > li > a
{
    margin-left: 0;
  }

.nav-list > li > a:first 
{
    padding-left:  15px;
}

.nav-list > li > a:first
{
    margin-left: -15px;
  }

.sidebar .well a {
    color: #1a79ab;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9pt;
    text-decoration: none;
}
.sidebar .nav-list.tools 
{ 
  margin-top:5px;
  padding-top:3px;
  border-top: 1px solid #D0D0D0;
 } 

.sidebar #menu.well li.active a 
{
  color:white;

  }

.navbar-inner 
{
  background-color: rgb(34,57,142);
  background-image:  none;
/*
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8EADBF), to(#024363));
  background-image: -webkit-linear-gradient(top, #8EADBF, #024363);
  background-image: -moz-linear-gradient(top , #8EADBF, #024363);
  background-image:      -o-linear-gradient(top, #8EADBF, #024363);
  background-image:         linear-gradient(to bottom, #8EADBF, #024363);
  background-repeat: repeat-x;
*/
  min-height: 40px;
}
.nav > li > a {
    display: inline-block;
}

.nav > li > a:hover {
    background-color: transparent;
}


#search
{ 
width:100%
 }
#ksearchinput 
{ 
  border-radius: 5px 0 0 5px;
  padding-left:5%;
  padding-right: 5%;
  width:100%;
  display:inline-block;
  } 

#ksearchmenu
{ 
  margin-left: 0;
 }

#ksearchmenu li
{ 
    border-bottom: 1px solid #DDDDDD;
    line-height: 15px;
    list-style: none outside none;
    padding: 3px 5px;
}

/* contenu du topic */
.page-header 
{ 
  margin-top:0;
  border-bottom: 2px solid #002596;
  color: #002596;
  padding-bottom:0;
  margin-bottom:6px;
    
 }


.page-header h2
{ 
  margin-top:0;
  margin-bottom:0;
  color: #002596;
  line-height:30px;
  font-size:28px;
  
 }

h3 { font-size:20px;
     line-height: 25px;
     margin-top: 25px;
     border-bottom: 1px solid #002596;
 }
.chemin { 
    margin-bottom:15px;
    color: #002596;
 }

.definition { 
    font-weight:bold;
 }

.exemple { 
    font-style:italic;
 }

.attention { 

 }

 .title_num {display: none;}

/*ajout du stylage du div.optmodule par surcharge de la css de base*/

.alert-optmodule {
  background-color: #feff80; /*couleur de fond de l'encadré (jaune)*/
  border-color: #efff42; /*couleur de la bordure de l'encadré (un jaune légèrement plus foncé)*/
  color: #554400; /*couleur du texte (marron)*/
}

.label-optmodule {
  background-color: #554400; /*couleur du fond de l'étiquette "Module optionnel" (marron)*/
}

/* fin de l'ajout*/


.libelle
{ 
  color: #002596;
}

.boutonblanc {
  border: 1px solid #003c74;
  background-color: #fafaf9;
  border-radius: 4px;
  padding: 3px 5px 3px 5px;
}

.bouton {
    color: white;
  background-color: #008cba;
  padding: 3px 5px 3px 5px;
}

.bouton strong {
padding-bottom: 2px;
font-size: 130%;
}

.boutonrouge {
    color: white;
  background-color: #f04124;
  padding: 3px 5px 3px 5px;
}

.boutonvert {
  color: white;
  background-color: #43ac6a;
  padding: 3px 5px 3px 5px;
}

p, dd { 
line-height: 1.2em;
 }



dd {
    border-left: 1px solid #8EADBF;
    margin-left: 9px;
    padding-top: 5px;
    padding-left: 5px;
}

#alphaindexcontent .row-fluid 
{ 
  margin-bottom:10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #8EADBF;

 }

p.alphaindex.letter 
{ 
  font-size:18px;
  font-weight:bold;
 }

p.alphaindex.entry.level0 
{ 
  margin-top:8px;
  margin-bottom:4px;

 }
p.alphaindex.entry.level1
{ 
  font-size:12px;
  margin-bottom:4px;
  padding-left:10px;
 }

 .copiedecran  { 
  display: none
 }

#indexlinks {  
              font-size:18px;
              font-weight:bold;
              margin-top:5px;
}

#indexlinks a
{  
  color: #b356a7;
  }

.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus 
{
  background-color: #002596;
  }

#k-topiccontent a {
  text-decoration:underline;
                    
}

#search .btn 
{  
  background-image:none;
  background-color: rgb(34,57,142);
}

h2 {font-size: 1.5em;
border-bottom: 1px solid #3E6DA5}

.highlight {
    background-color: yellow;
}

body {
    background-color: #edeff3;
}

.well {
    background-color: white;
}

.sidebar .well h5 {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 300;
    padding-top: 9px;
    margin-bottom: 12px;
padding-left: 15px;
padding-bottom: 6px;
}

.btn-info {
    border-color: rgb(34,57,142)}

.label-danger {
    background-color: rgba(255,255,255,0);
    color: #A94442;
    font-size: 15px;
padding-left: 0;
}



.label-info , .label-success {
    background-color: rgba(255,255,255,0);
    color: #31708F;
    font-size: 15px;
padding-left: 0;
}

.alert-success {
    background-image: linear-gradient(to bottom, #D9EDF7 0px, #B9DEF0 100%);
    background-repeat: repeat-x;
    border-color: #9ACFEA;
}

.alert-success {
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}

.alert>.label:first-child {
    display:block;
    text-align:inherit;
}
